In [1]:
# import modules

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataset
df = pd.read_csv('gamelogs_df.csv')

## Data Exploration

In [3]:
# check rows and columns
df.shape

(1610, 31)

In [4]:
# print the first 5 rows
df.head()

,Unnamed: 0,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,0,1,NaN,2023-10-25,23-352,BOS,@,NYK,W (+4),Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
1,1,2,NaN,2023-10-27,23-354,BOS,NaN,MIA,W (+8),Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play
2,2,3,1,2023-10-30,23-357,BOS,@,WAS,W (+19),0,...,0,2,1,0,0,1,1,2,1.0,-17
3,3,4,2,2023-11-01,23-359,BOS,NaN,IND,W (+51),0,...,3,3,1,1,0,0,2,11,11.6,+3
4,4,5,NaN,2023-11-04,23-362,BOS,@,BRK,W (+10),Did Not Play,...,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play,Did Not Play

In [24]:
# print the datatypes of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1610 non-null   int64
 1   Rk          1610 non-null   object
 2   G           1045 non-null   object
 3   Date        1610 non-null   object
 4   Age         1610 non-null   object
 5   Tm          1610 non-null   object
 6   Unnamed: 5  764 non-null    object
 7   Opp         1610 non-null   object
 8   Unnamed: 7  1536 non-null   object
 9   GS          1610 non-null   object
 10  MP          1610 non-null   object
 11  FG          1610 non-null   object
 12  FGA         1610 non-null   object
 13  FG%         1549 non-null   object
 14  3P          1610 non-null   object
 15  3PA         1610 non-null   object
 16  3P%         1412 non-null   object
 17  FT          1610 non-null   object
 18  FTA         1610 non-null   object
 19  FT%         1105 non-null   object
 20  ORB         1610 non-null   object
 21  DRB         1610 non-null   object
 22  TRB         1610 non-null   object
 23  AST         1610 non-null   object
 24  STL         1610 non-null   object
 25  BLK         1610 non-null   object
 26  TOV         1610 non-null   object
 27  PF          1610 non-null   object
 28  PTS         1610 non-null   object
 29  GmSc        1610 non-null   object
 30  +/-         1610 non-null   object
dtypes: int64(1), object(30)
memory usage: 390.1+ KB

In [8]:
# check for missing values
df.isnull().sum()

Unnamed: 0      0
Rk              0
G             565
Date            0
Age             0
Tm              0
Unnamed: 5    846
Opp             0
Unnamed: 7     74
GS              0
MP              0
FG              0
FGA             0
FG%            61
3P              0
3PA             0
3P%           198
FT              0
FTA             0
FT%           505
ORB             0
DRB             0
TRB             0
AST             0
STL             0
BLK             0
TOV             0
PF              0
PTS             0
GmSc            0
+/-             0
dtype: int64

# Data Cleaning

Renaming columns, accounting for null values, dropping unnecessary rows, reassigning datatypes

In [53]:
# create dictionary of mappings
rename = {
    "Unnamed: 0": "index_0", 
    "Rk": "rank", 
    "G": "season_game",
    "Date": "date",
    "Age": "age",
    "Tm": "team",
    "Unnamed: 5": "@",
    "Opp": "opponent",
    "Unnamed: 7": "win_loss_margin",
    "GS": "games_started",
    "MP": "min_played",
    "FG": "field_goals",
    "FGA": "fg_attempts",
    "FG%": "fg%",
    "3P": "3pt_fg",
    "3PA": "3pt_attempts",
    "3P%": "3pt%",
    "FT": "free_throws",
    "FTA": "ft_attempts",
    "FT%": "ft%",
    "ORB": "off_reb",
    "DRB": "def_reb",
    "TRB": "total_reb",
    "AST": "assists",
    "STL": "steals",
    "BLK": "blocks",
    "TOV": "turnovers",
    "PF": "personal_fouls",
    "PTS": "points",
    "GmSc": "game_score",
    "+/-": "plus_minus"
}

# rename columns
df_rename = df.rename(columns=rename)

In [54]:
# drop the selected columns 
selected = ["index_0", "rank", "season_game", "games_started"]
df_drop = df_rename.drop(columns=selected)

In [55]:
# drop rows containing data for inactive players
df_drop = df_drop[df_drop['min_played'] != "Did Not Play"]
df_drop = df_drop[df_drop['min_played'] != "Did Not Dress"]
df_drop = df_drop[df_drop['min_played'] != "Inactive"]

In [56]:
# drop rows containing player data from other teams in instances
# where players were traded or acquired during the season
df_bos = df_drop[df_drop['team'] == "BOS"]

In [59]:
# dropping duplicate column headers
df_clean = df_bos[df_bos['date'] != 'Date']
df_clean = df_bos[df_bos['age'] != 'Age']
df_clean = df_bos[df_bos['team'] != 'Tm']
df_clean = df_bos[df_bos['opponent'] != 'Opp']
df_clean = df_bos[df_bos['min_played'] != 'MP']
df_clean = df_bos[df_bos['field_goals'] != 'FG']
df_clean = df_bos[df_bos['fg_attempts'] != 'FGA']
df_clean = df_bos[df_bos['fg%'] != 'FG%']
df_clean = df_bos[df_bos['3pt_fg'] != '3P']
df_clean = df_bos[df_bos['3pt_attempts'] != '3PA']
df_clean = df_bos[df_bos['3pt%'] != '3P%']
df_clean = df_bos[df_bos['free_throws'] != 'FT']
df_clean = df_bos[df_bos['ft_attempts'] != 'FTA']
df_clean = df_bos[df_bos['ft%'] != 'FT%']
df_clean = df_bos[df_bos['off_reb'] != 'ORB']
df_clean = df_bos[df_bos['def_reb'] != 'DRB']
df_clean = df_bos[df_bos['total_reb'] != 'TRB']
df_clean = df_bos[df_bos['assists'] != 'AST']
df_clean = df_bos[df_bos['steals'] != 'STL']
df_clean = df_bos[df_bos['blocks'] != 'BLK']
df_clean = df_bos[df_bos['turnovers'] != 'TOV']
df_clean = df_bos[df_bos['personal_fouls'] != 'PF']
df_clean = df_bos[df_bos['points'] != 'PTS']
df_clean = df_bos[df_bos['game_score'] != 'GmSc']
df_clean = df_bos[df_bos['plus_minus'] != '+/-']

In [61]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 856 entries, 2 to 1606
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             856 non-null    object
 1   age              856 non-null    object
 2   team             856 non-null    object
 3   @                421 non-null    object
 4   opponent         856 non-null    object
 5   win_loss_margin  856 non-null    object
 6   min_played       856 non-null    object
 7   field_goals      856 non-null    object
 8   fg_attempts      856 non-null    object
 9   fg%              801 non-null    object
 10  3pt_fg           856 non-null    object
 11  3pt_attempts     856 non-null    object
 12  3pt%             683 non-null    object
 13  free_throws      856 non-null    object
 14  ft_attempts      856 non-null    object
 15  ft%              402 non-null    object
 16  off_reb          856 non-null    object
 17  def_reb          856 non-null    object
 18  total_reb        856 non-null    object
 19  assists          856 non-null    object
 20  steals           856 non-null    object
 21  blocks           856 non-null    object
 22  turnovers        856 non-null    object
 23  personal_fouls   856 non-null    object
 24  points           856 non-null    object
 25  game_score       856 non-null    object
 26  plus_minus       856 non-null    object
dtypes: object(27)
memory usage: 187.2+ KB

In [68]:
df_clean

,date,age,team,@,opponent,win_loss_margin,min_played,field_goals,fg_attempts,fg%,...,def_reb,total_reb,assists,steals,blocks,turnovers,personal_fouls,points,game_score,plus_minus
2,2023-10-30,23-357,BOS,@,WAS,W (+19),0 days 00:09:41,1,3,.333,...,0,2,1,0,0,1,1,2,1.0,-17
3,2023-11-01,23-359,BOS,NaN,IND,W (+51),0 days 00:08:16,4,4,1.000,...,3,3,1,1,0,0,2,11,11.6,+3
7,2023-11-10,24-003,BOS,NaN,BRK,W (+14),0 days 00:03:32,0,1,.000,...,0,1,0,0,0,0,0,0,0.0,-6
8,2023-11-11,24-004,BOS,NaN,TOR,W (+23),0 days 00:06:03,0,1,.000,...,0,0,0,0,0,0,0,0,-0.7,-2
10,2023-11-15,24-008,BOS,@,PHI,W (+10),0 days 00:08:18,1,4,.250,...,4,5,0,1,0,0,2,2,1.7,+8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,2024-04-01,29-274,BOS,@,CHO,W (+14),0 days 00:35:38,7,15,.467,...,7,9,5,0,1,2,3,19,15.8,+13
1602,2024-04-03,29-276,BOS,NaN,OKC,W (+35),0 days 00:31:11,2,5,.400,...,1,1,6,1,1,0,4,8,9.9,+13
1604,2024-04-07,29-280,BOS,NaN,POR,W (+17),0 days 00:30:58,5,13,.385,...,1,1,9,1,0,2,1,15,13.1,+2
1605,2024-04-09,29-282,BOS,@,MIL,L (-13),0 days 00:31:19,3,10,.300,...,3,4,3,2,0,1,1,9,7.5,-11
1606,2024-04-11,29-284,BOS,NaN,NYK,L (-9),0 days 00:28:38,1,5,.200,...,2,2,2,1,1,1,3,2,0.4,-29

In [63]:
# convert 'date' to datetime dtype
df_clean['date'] = pd.to_datetime(df_clean['date'])

In [67]:
# add "0:" to the 'min_played' column to account for hours for dtype conversion
df_clean['min_played'] = '0:' + df_clean['min_played']

# convert 'min_played' to timedelta dtype
df_clean['min_played'] = pd.to_timedelta(df_clean['min_played'])

In [69]:
# convert relevant numeric columns to int dtypes
df_clean["field_goals"] = df_clean["field_goals"].astype('int')
df_clean["fg_attempts"] = df_clean["fg_attempts"].astype('int')
df_clean["fg_attempts"] = df_clean["fg_attempts"].astype('int')
df_clean["3pt_fg"] = df_clean["3pt_fg"].astype('int')
df_clean["3pt_attempts"] = df_clean["3pt_attempts"].astype('int')
df_clean["free_throws"] = df_clean["free_throws"].astype('int')
df_clean["ft_attempts"] = df_clean["ft_attempts"].astype('int')
df_clean["off_reb"] = df_clean["off_reb"].astype('int')
df_clean["def_reb"] = df_clean["def_reb"].astype('int')
df_clean["total_reb"] = df_clean["total_reb"].astype('int')
df_clean["assists"] = df_clean["assists"].astype('int')
df_clean["steals"] = df_clean["steals"].astype('int')
df_clean["blocks"] = df_clean["blocks"].astype('int')
df_clean["turnovers"] = df_clean["turnovers"].astype('int')
df_clean["personal_fouls"] = df_clean["personal_fouls"].astype('int')
df_clean["points"] = df_clean["points"].astype('int')

In [73]:
# convert relevant numeric columns to float dtype
df_clean["fg%"] = df_clean["fg%"].astype('float')
df_clean["3pt%"] = df_clean["3pt%"].astype('float')
df_clean['ft%'] = df_clean['ft%'].astype('float')
df_clean['game_score'] = df_clean['game_score'].astype('float')

In [79]:
# convert text columns to string dtype
df_clean['team'] = df_clean['team'].astype('string')
df_clean['opponent'] = df_clean['opponent'].astype('string')

In [80]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 856 entries, 2 to 1606
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             856 non-null    datetime64[ns]
 1   age              856 non-null    object
 2   team             856 non-null    string
 3   @                421 non-null    object
 4   opponent         856 non-null    string
 5   win_loss_margin  856 non-null    object
 6   min_played       856 non-null    timedelta64[ns]
 7   field_goals      856 non-null    int64
 8   fg_attempts      856 non-null    int64
 9   fg%              801 non-null    float64
 10  3pt_fg           856 non-null    int64
 11  3pt_attempts     856 non-null    int64
 12  3pt%             683 non-null    float64
 13  free_throws      856 non-null    int64
 14  ft_attempts      856 non-null    int64
 15  ft%              402 non-null    float64
 16  off_reb          856 non-null    int64
 17  def_reb          856 non-null    int64
 18  total_reb        856 non-null    int64
 19  assists          856 non-null    int64
 20  steals           856 non-null    int64
 21  blocks           856 non-null    int64
 22  turnovers        856 non-null    int64
 23  personal_fouls   856 non-null    int64
 24  points           856 non-null    int64
 25  game_score       856 non-null    float64
 26  plus_minus       856 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(15), object(4), string(2), timedelta64[ns](1)
memory usage: 187.2+ KB